.offer {
	height: 826px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	&__wrapper {
		width: 565px;
		height: 385px;
		margin: 265px 0 0 230px;
		&__btn {
			margin: 52px 0 0 90px;
			width: 320px;
			height: 70px;
			display: flex;
			&-down {
				width: 70px;
				height: 70px;
				background: rgba(110, 156, 159, 0.1);
				border: none;
				cursor: pointer;
			}
		}
	}
	&__slider {
		height: 250px;
		position: relative;
		&__slide {
			position: absolute;
			top: 0;
			left: 0;
			height: 250px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			&__title {
				margin: 0;
				font-family: 'Raleway';
				font-weight: 500;
				font-size: 55px;
				line-height: 110%;
				letter-spacing: 0.02em;
				color: #000000;
				text-align: left;
			}
			&__subtitle {
				width: 385px;
				height: 84px;
				font-family: 'Raleway';
				font-weight: 400;
				font-size: 20px;
				line-height: 140%;
				text-align: right;
				letter-spacing: 0.02em;
				color: #000000;
			}
		}
		&__dots {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0px;
			gap: 12px;
		
			position: absolute;
			width: 114px;
			height: 4px;
			left: 290px;
			top: 500px;
			&__dot {
				width: 30px;
				height: 4px;
				background: #D1D1D1;
				transition: background 700ms ease-in;
				border: 0;
				cursor: pointer;
				&-active {
					transition: background 700ms ease-in;
					background: #000000;
				}
			}
		  }
	}
	&__pictures {
		justify-self: center;
		width: 45%;
		height: 826px;
		z-index: -10;
		background: #F1EADC;
		position: relative;
		&-main {
			position: absolute;
			top: 120px;
			left: 50px;
			z-index: -3;
		}
		&-left {
			position: absolute;
			top: 508px;
			left: -80px;
		}
		&-right {
			position: absolute;
			top: 243px;
			left: 368px;
		}
	}
}

//АНИМАЦИЯ СЛАЙДОВ

.item {
	&-enter {
		opacity: 0;
		transition: opacity 500ms ease-in;
		&-active {
			opacity: 1;
			transition: opacity 500ms ease-in;
		}
		&-done {
			opacity: 1;
			transition: opacity 500ms ease-in;
		}
	}
	&-exit {
		opacity: 1;
		transition: opacity 500ms ease-in;
		&-active {
			opacity: 0;
			transition: opacity 500ms ease-in;
		}
		&-done {
			opacity: 0;
			transition: opacity 500ms ease-in;
		}
	}
}