.offer {
	height: 826px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	&__slider {
		height: 385px;
		padding: 265px 0 0 230px;
		&-wrapper {
			width: 563px;
			height: 250px;
		}
		&-slide {
			height: 250px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
		&-title {
			margin: 0;
			font-family: 'Raleway';
			font-weight: 500;
			font-size: 55px;
			line-height: 110%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-subtitle {
			width: 385px;
			height: 84px;
			font-family: 'Raleway';
			font-weight: 400;
			font-size: 20px;
			line-height: 140%;
			text-align: right;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-btn {
			margin: 52px 0 0 90px;
			padding: 22px 45px;
			width: 310px;
			height: 68px;
			background: #6E9C9F;
			border: none;
			font-family: 'Raleway';
			font-style: normal;
			font-weight: 400;
			font-size: 17px;
			line-height: 140%;
			text-align: center;
			letter-spacing: 0.02em;
			color: #FFFFFF;
		}

	}
	&__pictures {
		justify-self: center;
		width: 45%;
		height: 826px;
		z-index: -10;
		background: #F1EADC;
		position: relative;
		&-main {
			position: absolute;
			top: 120px;
			left: 50px;
			z-index: -3;
		}
		&-left {
			position: absolute;
			top: 508px;
			left: -80px;
		}
		&-right {
			position: absolute;
			top: 243px;
			left: 368px;
		}
	}
}