.team {
	padding: 138px 266px 47px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 92px;
	width: 1108px;
	height: 623px;
	font-family: 'Raleway';
	font-weight: 500;
	.title {
		width: 530px;
		height: 44px;
		font-size: 40px;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #000000;
	}
	.slider {
		padding: 0px;
		width: 1108px;
		height: 487px;
		&__slide {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 124px;
			&-img {
				width: 729px;
				height: 487px;
			}
			&-text {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 0px;
				gap: 28px;
				width: 255px;
				height: 331px;
			}
			&-title {
				width: 150px;
				height: 35px;
				font-size: 25px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #000000;
			}
			&-description  {
				width: 255px;
				height: 216px;
				font-size: 17px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #000000;
			}
			a {
				width: 180px;
				height: 24px;
				font-size: 17px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #6E9C9F;
				text-decoration: none;
			}
		}
	}
}