.header {
	position: absolute;
	top: 0;
	height: 120px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 245px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px;
		gap: 11px;
		width: 139px;
		height: 25px;
	}
	&__menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px;
		gap: 45px;

		// position: absolute;
		width: 400px;
		height: 21px;
		&-item {
			width: 71px;
			height: 21px;
			font-family: 'Raleway';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 140%;
			/* identical to box height, or 21px */
			letter-spacing: 0.02em;
			color: #000000;
			/* Inside auto layout */
			flex: none;
			order: 2;
			flex-grow: 0;
			// &_about {
			// 	width: 71px;
			// }
			// &_contacts {
			// 	width: 70px;
			// }
		}
	}
	&__phone {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}